body {
    margin: 0;
}

.board {
    font-family: 'Open Sans', sans-serif;
    height: 450px;
    width: 450px;
    margin: 50px auto 30px auto;
    overflow: hidden;
    position: relative;
}

.end {
    background: rgba(255, 255, 255, 0.8);
    bottom: 5px;
    color: #3d4250;
    display: none;
    left: 5px;
    padding-top: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    z-index: 11;
}

.end h2 {
    font-size: 36px;
    margin-top: 150px;
}

.cell {
    background-color: #78bec5;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    height: 140px;
    font-size: 70px;
    float: left;
    margin: 5px;
    width: 140px;
    z-index: 1;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #3d4250;
}

.cell-X {
    background-color: #dc685a;
}

.cell-O {
    background-color: #ecaf4f;
}

.icon {
    margin: 35px 0 0 40px;
}
